@media (min-width: 1024px) {
	.navbar-default .navbar-brand {
		padding-top: 7.5px;
		height: 80px;
	}
}

@media  (min-width: 992px) and (max-width: 1024px) {
	.navbar-default .navbar-brand {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.navbar-default .navbar-brand .logo-display {
		display: none;
	}

	.navbar-default .navbar-brand img {
		max-height: 100%;
	}

}

.text-black {
	color: rgba(0,0,0,0.5) !important;
}

.frontoffice-banner {
	position: absolute;
	height: 125px;
	width: 100%;
}

.price-tag {
	font-size: 24px;
	line-height: 24px;
	vertical-align: text-bottom;
}

.price-tag-info {
	vertical-align: bottom;
}

.alert .fa {
 	margin-right: 5px;
 	font-size: 20px;
 	vertical-align: text-bottom;
}

.overflow-break-word {
	overflow-wrap: break-word;
}

body {
	min-height: 100vh;
	background-color: #222;
}

section {
	background-color: #FFF;
}