.comparative-header {
	font-size: 25px;
}

.comparative-icon {
	font-size: 35px;
}

.comparative-icon.text-success {
	background-image: -webkit-linear-gradient(140deg,#457aff,#30d4b9); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(140deg,#457aff,#30d4b9); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(140deg,#457aff,#30d4b9); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(140deg,#457aff,#30d4b9); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(140deg,#457aff,#30d4b9); /* Standard */
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
	/*color: #00a65a;*/
}

.comparative-description {
	max-width: 150px;
	white-space: normal !important
}

.comparative-description.text-muted {
	font-style: italic;
}

.comparative-table {
	 border-spacing: 15px 50px;
}

.comparative-table th {
	background-image: -webkit-linear-gradient(140deg,#457aff,#30d4b9); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(140deg,#457aff,#30d4b9); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(140deg,#457aff,#30d4b9); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(140deg,#457aff,#30d4b9); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(140deg,#457aff,#30d4b9); /* Standard */
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	border: none;
	padding: 10px;
	padding-left: 20px;
	vertical-align: middle;
}

.comparative-table .price-tag {
	font-size: 24px;
	line-height: 24px;
}

.comparative-table .price-tag-info {
	vertical-align: bottom;
}