.main-header .logo .logo-lg {
 	vertical-align: middle;
 	display: inline-block;
 }

 .main-header .logo {
 	padding: 0;
 }

 .navbar-brand {
 	padding-top: 9px;
 }

.navbar-brand > img {
 	display: inline-block;
 }

 .icheckbox_margin {
 	margin-right: 5px !important;
 }

 .alert .fa {
 	margin-right: 5px;
 	font-size: 20px;
 	vertical-align: text-bottom;
 }